<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Customer Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Update Customer Details</h2>
    
    <form th:action="@{/updateCustomer}" method="post" th:object="${customer}">
        <div class="form-group">
            <input type="text" placeholder="Customer ID (Required)" id="id" name="id" th:field="*{id}" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Name" id="name" name="name" th:field="*{name}" >
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone" id="phone" name="phone" th:field="*{phone}" >
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email" id="email" name="email" th:field="*{email}" >
        </div>
        <div class="form-group">
            <input type="text" placeholder="Address" id="address" name="address" th:field="*{address}">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" id="password" name="password" th:field="*{password}" >
        </div>
        <button type="submit">Update Customer</button>
    </form>
</body>
</html>
